@charset "UTF-8";

.container {
    background-color: palevioletred;
    height: 300px;
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: 3;
}

.item01 {
    background-color: palegreen;
    grid-area: 1 / 1 / 2 / 4;
}

.item02 {
    background-color: coral;
    grid-area: 2 / 1 / 3 / 4;
}

.item03 {
    background-color: cornflowerblue;
    grid-area: 3 / 1 / 4 / 3;
}

.item04 {
    background-color: darkblue;
    grid-area: 3 / 3 /4 /4;
}

.item05 {
    background-color: brown;
    grid-area: 4 / 1 / 5 / 4;
}